{% extends "base.html" %}
{% load static %}

{% block title %}註冊{% endblock  %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock  %}

{% block content %}


<div class="register-container">
    <h2>會員註冊</h2>
    <form method="post" action="{% url 'register' %}" novalidate>
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for error in form.non_field_errors %}
                    <small class="error-message" style="color: red; display: block;">{{ error }}</small>
                {% endfor %}
            </div>
        {% endif %}
            
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                
                {% if field.field.required %}
                    <small class="custom-required-msg">這個欄位是必須的。</small>
                {% endif %}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <small class="custom-required-msg">{{ error }}</small>
                {% endfor %}
            </div>
        {% endfor %}
      
        <button type="submit" class="btn-submit">註冊</button>
    </form>
</div>

{% endblock  %}


