{% extends "base.html" %}
{% load static %}
{% block title %}註冊{% endblock  %}

{% block  %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="register-container">
    <h2>會員註冊</h2>
    <form action="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}

                {% if field.help_text %}
                    <small class="help-text">{{field.help_text}}</small>
                {% endif %}

                {% for error in field.errors %}
                    <small class="error-message">{{error}}</small>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn-submit"></button>
    </form>
</div>


{% endblock  %}


